{
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "max-empty-lines": 2,
    "color-hex-case": "lower"
  }
}