:root {
  --lightBlue: lightblue;
  --darkViolet: #15192a;
  --button: {
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    background: var(--darkViolet);
    color: var(--lightBlue);
    padding: .5em 2em;
    cursor: pointer;
    border-bottom: 5px solid var(--lightBlue);
  };
}

@custom-media --small  screen and (max-width:768px);